* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: lavender;
    font-family: 'Cabin', sans-serif;
  }
  
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: normal;
    color: gray;
  }
  
  .banner {
    text-align: center;
    margin: 20px 0;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  footer{
    margin: auto;
  }

  p{
    text-align: center;
    padding: 20px;
  }
  
