body {
    background-color: rgb(255, 247, 228);
    font-family: Cabin, sans-serif;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    color: #321c11;
  }

  h3 {
    font-size: 20px;
    color: #583726;
  }

  p a {
    color: #ededed;
  }

  p a:hover {
    text-decoration: underline #fcf680;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }

  .container2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }

  .container3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    width: 750px;
    padding: 50px;
    background-color: #4b67a5;
    color: #ededed;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    box-shadow: 5px 5px 10px #9a978f;
  }

  .column2 {
    width: 750px;
    padding: 50px;
    background-color: #856193;
    color: #ededed;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    box-shadow: 5px 5px 10px #9a978f;
  }

  .column3 {
    width: 750px;
    padding: 50px;
    background-color: #32687f;
    color: #ededed;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    box-shadow: 5px 5px 10px #9a978f;
  }

  @media only screen and (max-width: 1200px) {
    .column {
      width: 100%;
    }
  }

  footer {
    display:flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1em;
    color: #321c11;
  }
  
  footer ul a {
    text-decoration: none;
    color: #321c11;
  }
  
  footer a:hover {
    text-decoration: underline #321c11;
  }

  
