body{
    background-color: #B1744D;
    font-family: 'Walter Turncoat', cursive;
}

img {
    width: 20%;
    height: auto;
  }

header{
    margin: auto;
    text-align: center;
}

/* a notepad attempt */
.notepad {
    width: 500px;
    background-color: #FFFEEB;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #33C3F0;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #1E88E5;
  }
  